add.html
<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <meta charset="utf-8">
  <title>Pug Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="styles/style.processed.css">
</head>

<body class="bg-grey-light">
  <header class="site-header">
    <div class="site-title-container">
      <div class="site-title-shadow text-grey-dark">VANCAR</div>
      <div class="site-title">VANCAR </div>
    </div>
  </header>
  <div class="main-container flex-grow h-full flex items-center">
    <div class="register-container flex flex-col items-center w-full">
      <h2 class="text-grey-dark m-4">登记您要出售汽车的信息</h2>
      <h3 class="text-orange-dark text-sm">详细的车况描述将有助于信息更快到达您的潜在客户那里</h3><select class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none"><option>请选择品牌</option><option value="sales">Toyota</option><option value="sales">Honda</option></select>
      <select
        class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none">
        <option>请选择型号</option>
        <option value="sales">Sienna</option>
        <option value="sales">Camery</option>
        </select><input class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none" placeholder="请选择您所在城市"><input class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none"
          placeholder="请输入车龄"><textarea class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none" placeholder="请详细描述您的详细车况"></textarea><select class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none"></select>
        <a
          class="bg-grey text-center mt-6 leading-loose text-white rounded-full w-8 h-8 shadow" href="add.html"><span class="icon-picture"></span></a><a class="flex justify-center bg-green px-8 items-center mt-6 h-12 text-white rounded shadow no-underline" href="index.html"><span class="icon-plus pr-2"></span><h4>添加</h4></a></div>
  </div>
  <footer class="site-footer">
    <h4 class="text-grey-dark text-center">2018 copyright reserved VANCAR</h4>
  </footer>
</body>

add.pug
extends structure/_layout.pug
block content
	.register-container.flex.flex-col.items-center.w-full
		h2.text-grey-dark.m-4 登记您要出售汽车的信息
		h3.text-orange-dark.text-sm 详细的车况描述将有助于信息更快到达您的潜在客户那里
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
			option 请选择品牌
			option(value='sales') Toyota
			option(value='sales') Honda
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
			option 请选择型号
			option(value='sales') Sienna
			option(value='sales') Camery
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请选择您所在城市' class='focus:text-grey-dark w-2/5 focus:outline-none')
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入车龄' class='focus:text-grey-dark w-2/5 focus:outline-none')
		textarea.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请详细描述您的详细车况' class='focus:text-grey-dark w-2/5 focus:outline-none')
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
		a.bg-grey.text-center.mt-6.leading-loose.text-white.rounded-full.w-8.h-8.shadow(href='add.html')
			span.icon-picture
		a.flex.justify-center.bg-green.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline(href='index.html')
			span.icon-plus.pr-2
			h4 添加
		
			
			
