car.pug
extends structure/_layout.pug
block content
	.car-container.flex.flex-col.items-center.w-full
		.car-card-title.flex.items-center.my-4
			.text-grey-darker.text-2xl.text-center Toyota Sienna2016
		.car-card.flex.items-center.mx-4
			.icon-arrow-left.text-2xl
			.icon-arrow-right.text-2xl
			.car-card-img.mx-4
				.tag.bg-red.rounded-full.px-2.py-1.text-white.text-md.m-2 Hot
				img(src='https://4-photos.motorcar.com/new-2018-toyota-sienna-xleautomaticaccessseatfwd7passenger-11805-17767374-2-640.jpg').shadow.border.border-grey.overflow-scroll.h-60.w-60
		h4.text-grey-dark.text-md.mt-4.mx-12
			| 这里是车型介绍文字.ipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis totam deserunt magni ut eum id veniam placeat fugit atque labore aut dolores corrupti, quidem, cum soluta animi rerum. Error.loremipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis totam deserunt magni ut eum id veniam placeat fugit atque labore aut dolores corrupti, quidem, cum soluta animi rerum. Error.lorem
		a.flex.justify-center.bg-green.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline
			span.icon-share-alt.pr-2
			h4 分享
		a.fixed.pin-l.pin-b.m-2.bg-blue.flex.justify-center.items-center.mt-6.leading-loose.text-white.rounded-full.w-16.h-16.shadow(href='index.html')
			span.icon-home

car.html
<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <meta charset="utf-8">
  <title>Pug Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="styles/style.processed.css">
</head>

<body class="bg-grey-light">
  <header class="site-header">
    <div class="site-title-container">
      <div class="site-title-shadow text-grey-dark">VANCAR</div>
      <div class="site-title">VANCAR </div>
    </div>
  </header>
  <div class="main-container flex-grow h-full flex items-center">
    <div class="car-container flex flex-col items-center w-full">
      <div class="car-card-title flex items-center my-4">
        <div class="text-grey-darker text-2xl text-center">Toyota Sienna2016</div>
      </div>
      <div class="car-card flex items-center mx-4">
        <div class="icon-arrow-left text-2xl"></div>
        <div class="icon-arrow-right text-2xl"></div>
        <div class="car-card-img mx-4">
          <div class="tag bg-red rounded-full px-2 py-1 text-white text-md m-2">Hot</div><img class="shadow border border-grey overflow-scroll h-60 w-60" src="https://4-photos.motorcar.com/new-2018-toyota-sienna-xleautomaticaccessseatfwd7passenger-11805-17767374-2-640.jpg"></div>
      </div>
      <h4 class="text-grey-dark text-md mt-4 mx-12">这里是车型介绍文字.ipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis totam deserunt magni ut eum id veniam placeat fugit atque labore aut dolores corrupti, quidem, cum soluta animi rerum. Error.loremipsum dolor sit amet consectetur
        adipisicing elit. Laudantium blanditiis totam deserunt magni ut eum id veniam placeat fugit atque labore aut dolores corrupti, quidem, cum soluta animi rerum. Error.lorem</h4><a class="flex justify-center bg-green px-8 items-center mt-6 h-12 text-white rounded shadow no-underline"><span class="icon-share-alt pr-2"></span><h4>分享</h4></a>
      <a
        class="fixed pin-l pin-b m-2 bg-blue flex justify-center items-center mt-6 leading-loose text-white rounded-full w-16 h-16 shadow" href="index.html"><span class="icon-home"></span></a>
    </div>
  </div>
  <footer class="site-footer">
    <h4 class="text-grey-dark text-center">2018 copyright reserved VANCAR</h4>
  </footer>
</body>
