index.html
<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <meta charset="utf-8">
  <title>Pug Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="styles/style.processed.css">
</head>

<body class="bg-grey-light">
  <header class="site-header">
    <div class="site-title-container">
      <div class="site-title-shadow text-grey-dark">VANCAR</div>
      <div class="site-title">VANCAR </div>
    </div>
  </header>
  <div class="main-container flex-grow h-full flex items-center">
    <div class="index-container flex flex-col justify-center items-center w-full">
      <div class="search-form flex w-full items-center justify-center"><input class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg focus:text-grey-dark w-2/3 focus:outline-none " placeholder="请输入您感兴趣的车型名称,比如sienna"><button class="submit bg-blue py-2 px-6 text-white shadow-lg h-10 m-2 focus:outline-none hover:shadow">搜索</button></div>
      <div
        class="filter-box mb-1 h-8 w-64 flex justify-center items-center">
        <div class="filter-tag bg-orange text-xs bg-blue inline-block py-1 px-2 shadow rounded text-white m-2">上市时间</div>
        <div class="filter-tag bg-orange text-xs bg-blue inline-block py-1 px-2 shadow rounded text-white m-2">价格</div>
        <div class="filter-tag bg-orange text-xs bg-blue inline-block py-1 px-2 shadow rounded text-white m-2">车龄</div>
    </div>
    <div class="top-list my-4 flex items-center text-grey-darker flex-wrap">
      <div class="icon-arrow-left inline-block sm:invisible md:visible"></div>
      <div class="icon-arrow-right sm:invisible md:visible"></div>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img">
          <div class="tag bg-red rounded px-1 text-white text-xs">Hot</div><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://4-photos.motorcar.com/new-2018-toyota-sienna-xleautomaticaccessseatfwd7passenger-11805-17767374-2-640.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Toyota Sienna2016</div>
        </div>
      </a>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img">
          <div class="tag bg-green rounded px-1 text-white text-xs">New</div><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Honda Civic2018</div>
        </div>
      </a>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img"><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Honda Civic2018</div>
        </div>
      </a>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img">
          <div class="tag bg-green rounded px-1 text-white text-xs">New</div><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Honda Civic2018</div>
        </div>
      </a>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img"><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Honda Civic2018</div>
        </div>
      </a>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img"><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Honda Civic2018</div>
        </div>
      </a>
      <a class="car-card flex flex-col items-center mx-4 no-underline" href="car.html">
        <div class="car-card-img">
          <div class="tag bg-red rounded px-1 text-white text-xs">Hot</div><img class="shadow border border-grey overflow-scroll rounded-full h-24 w-24" src="https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg"></div>
        <div class="car-card-title h-6 flex items-center">
          <div class="text-grey-darker text-xs w-24 text-center">Honda Civic2018</div>
        </div>
      </a>
    </div>
    <a class="flex justify-center bg-green px-8 items-center mt-6 h-12 text-white rounded shadow no-underline" href="register.html">
      <h4>有车出售?点此添加</h4><span class="icon-pencil pl-2"></span></a>
  </div>
  </div>
  <footer class="site-footer">
    <h4 class="text-grey-dark text-center">2018 copyright reserved VANCAR</h4>
  </footer>
</body>

index.pug
extends structure/_layout.pug
block content
		.index-container.flex.flex-col.justify-center.items-center.w-full
			.search-form.flex.w-full.items-center.justify-center
				input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg(placeholder='请输入您感兴趣的车型名称,比如sienna' class='focus:text-grey-dark w-2/3 focus:outline-none ')
				button.submit.bg-blue.py-2.px-6.text-white.shadow-lg.h-10.m-2(class='focus:outline-none hover:shadow') 搜索
			.filter-box.mb-1.h-8.w-64.flex.justify-center.items-center
				.filter-tag.bg-orange.text-xs.bg-blue.inline-block.py-1.px-2.shadow.rounded.text-white.m-2 上市时间
				.filter-tag.bg-orange.text-xs.bg-blue.inline-block.py-1.px-2.shadow.rounded.text-white.m-2 价格
				.filter-tag.bg-orange.text-xs.bg-blue.inline-block.py-1.px-2.shadow.rounded.text-white.m-2 车龄
			.top-list.my-4.flex.items-center.text-grey-darker.flex-wrap
				.icon-arrow-left.inline-block(class='sm:invisible md:visible')
				.icon-arrow-right(class='sm:invisible md:visible')
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-red.rounded.px-1.text-white.text-xs Hot
						img(src='https://4-photos.motorcar.com/new-2018-toyota-sienna-xleautomaticaccessseatfwd7passenger-11805-17767374-2-640.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Toyota Sienna2016
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						//- .tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						//- .tag.bg-red.rounded.px-1.text-white.text-xs Hot
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						//- .tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-red.rounded.px-1.text-white.text-xs Hot
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
			a.flex.justify-center.bg-green.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline(href='register.html')
				h4 有车出售?点此添加
				span.icon-pencil.pl-2
