register.html
<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <meta charset="utf-8">
  <title>Pug Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="styles/style.processed.css">
</head>

<body class="bg-grey-light">
  <header class="site-header">
    <div class="site-title-container">
      <div class="site-title-shadow text-grey-dark">VANCAR</div>
      <div class="site-title">VANCAR </div>
    </div>
  </header>
  <div class="main-container flex-grow h-full flex items-center">
    <div class="register-container flex flex-col items-center w-full">
      <h2 class="text-grey-dark m-4">登记您的个人信息,以方便我们联系您</h2><input class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none" placeholder="请输入姓名"><input class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none"
        placeholder="请输入电话"><input class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none" placeholder="请输入电子邮箱"><select class="p-2 mx-4 bg-grey shadow-inner text-grey-darker h-12 text-lg m-2 focus:text-grey-dark w-2/5 focus:outline-none"><option>请选择您的身份</option><option value="sales">4S店销售</option><option value="sales">个人车主</option></select>
      <a
        class="flex justify-center bg-blue px-8 items-center mt-6 h-12 text-white rounded shadow no-underline" href="add.html"><span class="icon-user-follow pr-2"></span>
        <h4>注册</h4>
        </a>
    </div>
  </div>
  <footer class="site-footer">
    <h4 class="text-grey-dark text-center">2018 copyright reserved VANCAR</h4>
  </footer>
</body>

register.pug
extends structure/_layout.pug
block content
	.register-container.flex.flex-col.items-center.w-full
		h2.text-grey-dark.m-4 登记您的个人信息,以方便我们联系您
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入姓名' class='focus:text-grey-dark w-2/5 focus:outline-none')
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入电话' class='focus:text-grey-dark w-2/5 focus:outline-none')
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入电子邮箱' class='focus:text-grey-dark w-2/5 focus:outline-none')
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
			option 请选择您的身份
			option(value='sales') 4S店销售
			option(value='sales') 个人车主
		a.flex.justify-center.bg-blue.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline(href='add.html')
			span.icon-user-follow.pr-2
			h4 注册
		
			
			
